{% load static %}
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>
            List Story
        </h1>
        <ul>
            <li><a href="{% url 'story6:homepage' %}">Story 6</a></li>
            <li><a href="{% url 'story7:homepage' %}">Story 7</a></li>
            <li><a href="{% url 'story8:homepage' %}">Story 8</a></li>
            <li><a href="{% url 'story9:homepage' %}">Story 9</a></li>
        </ul>
    </body>
</html>