

.title{
    text-align: center;
    margin-bottom: 30px;
}

.title a {
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column a {
    text-decoration: none;
    color: black;
}

.kegiatan-block{
    width: 30%;
    max-width: 30%;
    align-self: flex-start;
    padding: 10px;
}

.list-kegiatan{
    border: 5px;
    padding: inherit;
    border-style: double;
}