{% extends "story9/base.html" %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-dark bg-primary d-block">
      <a class="navbar-brand" style="font-size: 30px;" href="#">Story 9</a>
      <div class="navbar-default navbar-dark bg-primary float-right" id="navbarText">

        <span class="navbar-text">
          {% if user.is_authenticated %}
            <span style="font-size: 16px; color: white;" class="mr-5">Halo, {{ user.username }}</span>
            
            <a href="/story9/accounts/logout/?next=/story9">Logout</a>
          {% else %}
            <a href="/story9/accounts/login/?next=/story9" class="mr-5">Login</a>
            <a href="{% url 'story9:signup' %}">Signup</a>
          {% endif %}
          
        </span>
      </div>
    </nav>

    <div class="mx-5">
      {% if user.is_authenticated %}
      <h2>Selamat Datang {{ user.first_name }}</h2> 
      <video width='320' height= '240' controls>
        <source src="{% static 'story9/some_video.mp4'%}" type='video/mp4'>
        </video>
        
      {% else %}
        <h2>Silahkan login terlebih dahulu untuk melihat konten.</h2>
      {% endif %}
      </div>

    
{% endblock %}