{% extends "story9/base.html" %}
{% load static %}

{% block content %}
<div class="text-center">
    <h2>Sign up</h2>
    <form method="post" class="mt-5">
    {% csrf_token %}
    <p>
        {{ form.username.label_tag }} {{ form.username }} <br>
        <small style="color: grey">Hanya bisa huruf, angka, dan @/./+/-/_ saja</small>
        {% for error in form.username.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
    <p>
        {{ form.first_name.label_tag }} {{ form.first_name }} <br>
        <small style="color: grey">Wajib diisi.</small>
    </p>
    <p>
        {{ form.last_name.label_tag }} {{ form.last_name }} <br>
    </p>
    <p>
        {{ form.email.label_tag }} {{ form.email }} <br>
        <small style="color: grey">Gunakan format email yang benar.</small>
        {% for error in form.email.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>

    <p>
        {{ form.password1.label_tag }} {{ form.password1 }} <br>
        <small style="color: grey">Minimal 8 huruf dan tidak bisa semuanya angka.</small>
        {% for error in form.password1.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>

    <p>
        {{ form.password2.label_tag }} {{ form.password2 }} <br>
        <small style="color: grey">Ketik password yang sama untuk konfirmasi.</small>
        {% for error in form.password2.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>

        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

       
{% endblock %}


