{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Story 7</title>

    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'story7/css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

    <!-- JQuery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'story7/js/script.js' %}"></script>

  </head>
  <body>
    <h1 class="text-center">Story 7</h1>
    <h4 class="text-center">
      Membuat accordion menggunakan JavaScript dan JQuery
    </h3>
    <div id="accordion">
      <h3 class="sub" position="0">Aktivitas saat ini
        <button type="button" style="float: right;" class="btn btn-primary up">
          Up
        </button>
        <button type="button" style="float: right" class="btn btn-primary down">
          Down
        </button>
    </h3>
      <div position="0">
        <p>
        Kegiatan yang sering saya lakukan saat ini adalah mengerjakan tugas. 
        Juga diselingi bermain game saat istirahat atau saat tidak ada tugas.
        </p>
      </div>

      <h3 class="sub" position="1">Pengalaman organisasi/kepanitiaan
        <button type="button" style="float: right;" class="btn btn-primary up">
          Up
          </button>
          <button type="button" style="float: right" class="btn btn-primary down">
            Down
          </button>
      </h3>
      <div position="1">
        <p>
          Berikut adalah pengalaman organisasi dan kepanitiaan
        </p>
        <ul>
          <li>Pengajar Betis</li>
          <li>Koor mentor DDP 1,5</li>
          <li>Asdos matdis 1</li>
        </ul>
      </div>

      <h3 class="sub" position="2">Prestasi
          <button type="button" style="float: right;" class="btn btn-primary up">
            Up
          </button>
          <button type="button" style="float: right" class="btn btn-primary down">
            Down
          </button>
      </h3>
      <div position="2">
        <p>
          Berikut adalah penghargaan yang pernah saya capai dalam hidup ini
        </p>
        <ul>
          <li>Mengikuti OSK bidang Kimia</li>
          <li>Pernah menjadi top 10 lokal hero Kagura di ML</li>
          <li>Berhasil masuk Fasilkom UI</li>
          <li>Memiliki gacha yang ampas</li>
        </ul>
      </div>

      <h3 class="sub" position="3">Alasan masuk ke Fasilkom UI
        <button type="button" style="float: right;" class="btn btn-primary up">
          Up
        </button>
        <button type="button" style="float: right" class="btn btn-primary down">
          Down
        </button>
      </h3>
      <div position="3">
        <p>
        Karena saya suka bermain game, saya jadi memiliki keinginan untuk membuat game sendiri.
        Sehingga saya memilih untuk masuk ke jurusan yang berhubungan dengan komputer. Awalnya mengikuti
        SNMPTN dan memilih Teknik Komputer dan untungnya gagal. Karena dulu saya tidak mengetahui bahwa yang melakukan
        programming adalah Ilmu Komputer. Sehingga saya mengikuti SBMPTN dan mendaftar Ilmu Komputer. Lalu saya diterima
        dan masuk ke Fasilom UI.
        </p>
      </div>
    </div>

    <div>
      <a style="margin: 10px;" href="https://pepewe-story.herokuapp.com/story3/">Profil Utama</a>
    </div>
    
    
  
  </body>
</html>