{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="title">
    <h3>Daftar Kegiatan Baru</h3>
</div>

    <div class="column">
        <div class="form-group">
            <form method="POST" action="{% url 'story6:addKegiatan' %}">
                {% csrf_token %}
                <div>
                    <label>Nama Kegiatan</label>
                    <input placeholder="Nama" class="form-control" name="nama" required>
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Confirm</button>
            </form>
        </div>
    </div>


    


{% endblock content %}