{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>MyActivities</title>
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{% url 'story6:homepage' %}">MyActivities</a>
                </div>
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'story6:addKegiatan' %}">Tambah Kegiatan</a></li>
                </ul>
              </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>

        </div>

    </body>
</html>