{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="title">
        <h3>
            {{ kegiatan.nama }}
        </h3>
    </div>
    <div class="column">
        <p>Peserta: </p>
        <ol>
            {% for mahasiswa in kegiatan.mahasiswa.all %}
            <li>
                <a href="{{ mahasiswa.get_absolute_url }}">
                    {{ mahasiswa.nama }}
                </a>
               
            </li>
            {% endfor %}
        </ol>
        <div class="form-group">
            <form method="POST" action="{% url 'story6:addMahasiswa' id=kegiatan.id %}">
                {% csrf_token %}
                <div>
                    <label>Tambah Mahasiswa</label>
                    <input placeholder="Nama" class="form-control" name="nama" required>
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Confirm</button>
            </form>
        </div>

    </div>
{% endblock content %}