{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="title">
    <h3>Detail Kegiatan {{ mahasiswa.nama }}</h3>
</div>
<div class="column">
    <ol>
        {% for kegiatan in mahasiswa.kegiatan_set.all %}
        <li>
            <a href="{{ kegiatan.get_absolute_url }}">
                {{ kegiatan.nama }}
            </a>
        </li>
        {% endfor %}
    </ol>
</div>

{% endblock content %}
