{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="title">
    <h3>
        Daftar Kegiatan
    </h3>
</div>
<div class="wrap">
    {% for kegiatan in kegiatanList %}
    <div class="kegiatan-block">
        <div class="list-kegiatan">
            <div class="title">
                <a href="{{kegiatan.get_absolute_url}}">
                    {{ kegiatan.nama }}
                </a>
            </div>
            <p>Peserta: </p>
            <ol>
                {% for mahasiswa in kegiatan.mahasiswa.all %}
                <li>
                    {{ mahasiswa.nama }}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}